<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <div class="container border">
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-primary">
                    Phelipe
                </button>
            </div>
            <div class="col-2">
                Column
            </div>
            <div class="col-6">
                Column
            </div>
        </div>
    </div>

    <main>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>

</body>

</html>