2 + 2 = {{2 + 2}}
<p>Oi, meu nome é {{nome}} e tenho {{idade}} anos.</p>
<p>Lançando um dado: {{lancarDado()}}</p>

{{produto}}

<div class="container my-3 border p-3">
  <form>
    <div class="container my-3 border p-3">
      <div class="form-group">
        <label for="numeroInput">Escolha um número</label>
        <input type="numero" [(ngModel)]="numero" class="form-control" id="numeroInput" placeholder="Escolha um número"
          #nomeInput>
        <div class="alert alert-primary mt-3 p-3 text-center">{{numero}}</div>
      </div>
      <button type="button" (click)="escolher()" class="btn btn-primary btn-block">Escolher para
        mim</button>
    </div>
  </form>
  <label for="produtoInput">Produto</label>
  <input type="text" class="form-control" id="produtoInput" [(ngModel)]="produto" #produtoInput>
  <button type="button" class="btn btn-primary btn-block" (click)="alterarProduto(produtoInput)">
    Alterar produto
  </button>
</div>

<router-outlet></router-outlet>